<% console %>
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  
  <h3>Friends</h3>

    <% @user.friends & @user.friends.each do |friend| %>
      <p class="mt-4"><%= friend.name %></p>
    <% end %>
  
</section>
