<section class="user-section">
  <h2><%= "Name: #{@user.name}" %> </h2>
  
  <% @status = friendship_status((@user, current_user)%>

  <% if @status == "No relation" %> 
    <%= button_to  "Invite to friendship", request_friendship_friendships_path, 
    params: { :friendship => { :friend => @user, :user => current_user, :status => false}}, 
    method: :post, data: { confirm: "Are you sure?" } %>
  <% end %>
  
  <% if @status == "Invitation sent" %>  
  Invitation sent!
  <%= button_to "Undo Request", decline_friendship_friendships_path,
    params: { :friendship => { :user_id => current_user.id, :friend_id => @user.id } },
    method: :post, data: { confirm: "Are you sure?" } %>
  <% end %>
  
  <% if @status == "Friends" %> 
    You are friends!
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
